<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Templator </title>
</head>
<body>
    (% pull partials/header.part.html %)

    <main>
        <h1> Profile </h1>
        <p> My name is (( username )) and some of my interests are: </p>

        <ul>
            (% for item in interests %)
                <li> (( item )) </li>
            (% done %)
        </ul>
    </main>

    (% pull partials/footer.part.html %)
</body>
</html>